<!DOCTYPE html>
<html lang="en">
<head>
  <title>CMPE138 Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag "index" %>


</head>

<body id="home" data-spy="scroll" data-target=".navbar" data-offset="60">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home">Go Dubs!</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#players">PLAYERS</a></li>
          <li><a href="#games">GAMES</a></li>
          <li><a href="user/login">LOGIN</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1 id="gsw">Golden State Warriors</h1>
    <br>
    <p id="oak">Oakland, California</p>
  </div>


  <div class="container-fluid text-center" id="players">
    <h2 style= "margin-bottom: 75px">Players</h2>

    <div class="row">
      <div class="col-sm-4" id= "c1">
        <a href="players/12" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3975.png&w=350&h=254" alt = "Stephen Curry">
          <p>Stephen Curry</p>
        </a>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="/stats/554">Game 1</a></li>
          <li><a href="/stats/568">Game 2</a></li>
          <li><a href="/stats/582">Game 3</a></li>
	  <li><a href="/stats/596">Game 4</a></li>
          <li><a href="/stats/610">Game 5</a></li>
          <li><a href="/stats/624">Game 6</a></li> 
          <li><a href="/stats/638">Game 7</a></li>
          <li><a href="/stats/652">Game 8</a></li>
	  <li><a href="/stats/666">Game 9</a></li>
          <li><a href="/stats/680">Game 10</a></li>
        </ul>
      </div>
	
      </div>

      <div class="col-sm-4" id= "c2">
        <a href="players/6" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6475.png&w=350&h=254" alt = "Klay Thompson"><p>Klay Thompson</p></a>
	
		      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/548">Game 1</a></li>
          <li><a href="/stats/562">Game 2</a></li>
          <li><a href="/stats/576">Game 3</a></li>
	  <li><a href="/stats/590">Game 4</a></li>
          <li><a href="/stats/604">Game 5</a></li>
          <li><a href="/stats/618">Game 6</a></li> 
          <li><a href="/stats/632">Game 7</a></li>
          <li><a href="/stats/646">Game 8</a></li>
	  <li><a href="/stats/660">Game 9</a></li>
          <li><a href="/stats/674">Game 10</a></li>
        </ul>
	      </div>
	
      </div>
      
      <div class="col-sm-4" id= "c3">
        <a href="players/14" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3202.png&w=350&h=254" alt = "Kevin Durant"><p>Kevin Durant</p></a>
	
	      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/556">Game 1</a></li>
          <li><a href="/stats/570">Game 2</a></li>
          <li><a href="/stats/584">Game 3</a></li>
	  <li><a href="/stats/598">Game 4</a></li>
          <li><a href="/stats/612">Game 5</a></li>
          <li><a href="/stats/626">Game 6</a></li> 
          <li><a href="/stats/640">Game 7</a></li>
          <li><a href="/stats/654">Game 8</a></li>
	  <li><a href="/stats/668">Game 9</a></li>
          <li><a href="/stats/682">Game 10</a></li>
        </ul>
	      </div>
	      
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" id= "c4">
        <a href="players/10" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6589.png&w=350&h=254" alt ="Draymond Green"><p>Draymond Green</p></a>
		      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/552">Game 1</a></li>
          <li><a href="/stats/566">Game 2</a></li>
          <li><a href="/stats/580">Game 3</a></li>
	  <li><a href="/stats/594">Game 4</a></li>
          <li><a href="/stats/608">Game 5</a></li>
          <li><a href="/stats/622">Game 6</a></li> 
          <li><a href="/stats/636">Game 7</a></li>
          <li><a href="/stats/650">Game 8</a></li>
	  <li><a href="/stats/664">Game 9</a></li>
          <li><a href="/stats/678">Game 10</a></li>
        </ul>
	      </div>
      </div>
      <div class="col-sm-4" id= "c5">
        <a href="players/11" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2016.png&w=350&h=254" alt = "Zaza"><p>Zaza</p></a>
		      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/553">Game 1</a></li>
          <li><a href="/stats/567">Game 2</a></li>
          <li><a href="/stats/581">Game 3</a></li>
	  <li><a href="/stats/595">Game 4</a></li>
          <li><a href="/stats/609">Game 5</a></li>
          <li><a href="/stats/623">Game 6</a></li> 
          <li><a href="/stats/637">Game 7</a></li>
          <li><a href="/stats/651">Game 8</a></li>
	  <li><a href="/stats/665">Game 9</a></li>
          <li><a href="/stats/679">Game 10</a></li>
        </ul>
	      </div>
      </div>
      <div class="col-sm-4" id= "c6">
        <a href="players/5" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2386.png&w=350&h=254" alt = "Iggy"><p>Iggy</p></a>
		      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/547">Game 1</a></li>
          <li><a href="/stats/561">Game 2</a></li>
          <li><a href="/stats/575">Game 3</a></li>
	  <li><a href="/stats/589">Game 4</a></li>
          <li><a href="/stats/603">Game 5</a></li>
          <li><a href="/stats/617">Game 6</a></li> 
          <li><a href="/stats/631">Game 7</a></li>
          <li><a href="/stats/645">Game 8</a></li>
	  <li><a href="/stats/659">Game 9</a></li>
          <li><a href="/stats/673">Game 10</a></li>
        </ul>
	      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" id= "c7">
        <a href="players/9" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2489785.png&w=350&h=254" alt = "Ian
																		   Clark"><p>Ian Clark</p></a>
		      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/551">Game 1</a></li>
          <li><a href="/stats/565">Game 2</a></li>
          <li><a href="/stats/579">Game 3</a></li>
	  <li><a href="/stats/593">Game 4</a></li>
          <li><a href="/stats/607">Game 5</a></li>
          <li><a href="/stats/621">Game 6</a></li> 
          <li><a href="/stats/635">Game 7</a></li>
          <li><a href="/stats/649">Game 8</a></li>
	  <li><a href="/stats/663">Game 9</a></li>
          <li><a href="/stats/677">Game 10</a></li>
        </ul>
	      </div>
      </div>
      <div class="col-sm-4" id= "c8">
        <a href="players/15" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3064559.png&w=350&h=254" alt ="Damian Jones"><p>Damian Jones</p></a>
	<div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="http://www.espn.com/nba/player/_/id/3064559/damian-jones" target="_blank">Not Available</a></li>
         
        </ul>
	      </div>
      </div>
      <div class="col-sm-4" id= "c9">
        <a href="players/13" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2393.png&w=350&h=254" alt ="Shaun Livingston"><p>Shaun Livingston</p></a>
		      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/555">Game 1</a></li>
          <li><a href="/stats/569">Game 2</a></li>
          <li><a href="/stats/583">Game 3</a></li>
	  <li><a href="/stats/597">Game 4</a></li>
          <li><a href="/stats/611">Game 5</a></li>
          <li><a href="/stats/625">Game 6</a></li> 
          <li><a href="/stats/639">Game 7</a></li>
          <li><a href="/stats/653">Game 8</a></li>
	  <li><a href="/stats/667">Game 9</a></li>
          <li><a href="/stats/681">Game 10</a></li>
        </ul>
	      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" id= "c10">
        <a href="players/4" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3155535.png&w=350&h=254" alt ="Kevon Looney"><p>Kevon Looney</p></a>
		      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/546">Game 1</a></li>
          <li><a href="/stats/560">Game 2</a></li>
          <li><a href="/stats/574">Game 3</a></li>
	  <li><a href="/stats/588">Game 4</a></li>
          <li><a href="/stats/602">Game 5</a></li>
          <li><a href="/stats/616">Game 6</a></li> 
          <li><a href="/stats/630">Game 7</a></li>
          <li><a href="/stats/644">Game 8</a></li>
	  <li><a href="/stats/658">Game 9</a></li>
          <li><a href="/stats/672">Game 10</a></li>
        </ul>
	      </div>
      </div>
      <div class="col-sm-4" id= "c11">
        <a href="players/8" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2594818.png&w=350&h=254" alt ="McAdoo"><p>James McAdoo</p></a>
		      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/550">Game 1</a></li>
          <li><a href="/stats/564">Game 2</a></li>
          <li><a href="/stats/578">Game 3</a></li>
	  <li><a href="/stats/592">Game 4</a></li>
          <li><a href="/stats/606">Game 5</a></li>
          <li><a href="/stats/620">Game 6</a></li> 
          <li><a href="/stats/634">Game 7</a></li>
          <li><a href="/stats/648">Game 8</a></li>
	  <li><a href="/stats/662">Game 9</a></li>
          <li><a href="/stats/676">Game 10</a></li>
        </ul>
	      </div>
      </div>
      <div class="col-sm-4" id= "c12">
        <a href="players/1" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3137730.png&w=350&h=254" alt ="Patrick McCaw"><p>Patrick McCaw</p></a>
		      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/543">Game 1</a></li>
          <li><a href="/stats/557">Game 2</a></li>
          <li><a href="/stats/571">Game 3</a></li>
	  <li><a href="/stats/585">Game 4</a></li>
          <li><a href="/stats/599">Game 5</a></li>
          <li><a href="/stats/613">Game 6</a></li> 
          <li><a href="/stats/627">Game 7</a></li>
          <li><a href="/stats/641">Game 8</a></li>
	  <li><a href="/stats/655">Game 9</a></li>
          <li><a href="/stats/669">Game 10</a></li>
        </ul>
	      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" id= "c13">
        <a href="players/2" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3452.png&w=350&h=254" alt ="JaVale McGee"><p>JaVale McGee</p></a>
		      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/544">Game 1</a></li>
          <li><a href="/stats/558">Game 2</a></li>
          <li><a href="/stats/572">Game 3</a></li>
	  <li><a href="/stats/586">Game 4</a></li>
          <li><a href="/stats/600">Game 5</a></li>
          <li><a href="/stats/614">Game 6</a></li> 
          <li><a href="/stats/628">Game 7</a></li>
          <li><a href="/stats/642">Game 8</a></li>
	  <li><a href="/stats/656">Game 9</a></li>
          <li><a href="/stats/670">Game 10</a></li>
        </ul>
	      </div>
      </div>
      <div class="col-sm-4" id= "c14">
        <a href="players/7" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2419.png&w=350&h=254" alt ="Anderson Varejao"><p>Anderson Varejao</p></a>
		      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/549">Game 1</a></li>
          <li><a href="/stats/563">Game 2</a></li>
          <li><a href="/stats/577">Game 3</a></li>
	  <li><a href="/stats/591">Game 4</a></li>
          <li><a href="/stats/605">Game 5</a></li>
          <li><a href="/stats/619">Game 6</a></li> 
          <li><a href="/stats/633">Game 7</a></li>
          <li><a href="/stats/647">Game 8</a></li>
	  <li><a href="/stats/661">Game 9</a></li>
          <li><a href="/stats/675">Game 10</a></li>
        </ul>
	      </div>
      </div>
      <div class="col-sm-4" id= "c15">
        <a href="players/3" class="d1"><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2177.png&w=350&h=254" alt ="David West"><p>David West</p></a>
		      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Statistics
          <span class="caret"></span></button>
	
        <ul class="dropdown-menu">
          <li><a href="/stats/545">Game 1</a></li>
          <li><a href="/stats/559">Game 2</a></li>
          <li><a href="/stats/573">Game 3</a></li>
	  <li><a href="/stats/587">Game 4</a></li>
          <li><a href="/stats/601">Game 5</a></li>
          <li><a href="/stats/615">Game 6</a></li> 
          <li><a href="/stats/629">Game 7</a></li>
          <li><a href="/stats/643">Game 8</a></li>
	  <li><a href="/stats/657">Game 9</a></li>
          <li><a href="/stats/671">Game 10</a></li>
        </ul>
	      </div>
      </div>
    </div>

  </div>

  <div class="container-fluid text-center bg-grey" id="games">
    <h2 style= "margin-bottom: 75px">Games</h2>
	    <div class="row">
		    <div class="col-sm-4">
		      <a href="games/1"><h4>Game 1</h4>
		      <p>vs. San Antonio Spurs</p></a>
		    </div>
		    <div class="col-sm-4">
		      
		      <a href="games/2"><h4>Game 2</h4>
		      <p>vs. New Orleans Pelicans</p></a>
		    </div>
		    <div class="col-sm-4">
		      
		      <a href="games/3"><h4>Game 3</h4>
		      <p>vs. Phoenix Suns</p></a>
		    </div>
	    </div>
	  <div class="row">
	    <div class="col-sm-4" id= "e2">
	      
	      <a href="games/4"><h4>Game 4</h4>
	      <p>vs. Portland Trailblazers</p></a>
	    </div>
	    <div class="col-sm-4" id= "e2">
	      
	      <a href="games/5"><h4>Game 5</h4>
	      <p>vs. OKC Thunder</p></a>
	    </div>
	    <div class="col-sm-4" id= "e2">
	      
	      <a href="games/6"><h4>Game 6</h4>
	      <p>vs. Los Angeles Lakers</p></a>
	    </div>
	  </div>

	  <div class="row">
	    <div class="col-sm-4" id= "e2">
	      
	      <a href="games/7"><h4>Game 7</h4>
	      <p>vs. New Orleans Pelicans</p></a>
	    </div>
	    <div class="col-sm-4" id= "e2">
	      
	      <a href="games/8"><h4>Game 8</h4>
	      <p>vs. Dallas Mavericks</p></a>
	    </div>
	    <div class="col-sm-4" id= "e2">
	      
	      <a href="games/9"><h4>Game 9</h4>
	      <p>vs. Denver Nuggets</p></a>
	    </div>
	  </div>

	<div class="row">
	    <div class="col-sm-4" id= "e1">
	      
	      <a href="games/10"><h4>Game 10</h4>
	      <p>vs. Phoenix Suns</p></a>
	    </div>
    	
  </div>
</div>


  <footer class="container-fluid text-center">
    <a href="#home" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Made by Phi Nguyen, Dan Pilkington, Daniel Soto & Previn Wong </p>
  </footer>

  <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#home']").on('click', function(event) {
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== ""){
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 900, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });

      $(window).scroll(function() {
        $(".slideanim").each(function(){
          var pos = $(this).offset().top;

          var winTop = $(window).scrollTop();
          if (pos < winTop + 600) {
            $(this).addClass("slide");
          }
        });
      });
    })
  </script>

</body>
</html>



