.jumbotron {
    background-image: url("http://www.8screensavers.com/screensavers/original/b/a/bay-bridge-san-francisco-places-1-screensaver.jpg");
    background-position: 5% 10%;
    background-color: #f4511e;
    color: whitesmoke;
    padding: 100px 25px;
}

.bg-grey {
    background-color: #f6f6f6;

}

.container-fluid {
    padding: 60px 50px;
}

.navbar {
    margin-bottom: 0;
    background-color: navy;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

#gsw{
    margin-top: 180px;
    font-size: 75px;
    font-family: Montserrat, sans-serif;
}

#oak{
    margin-bottom: 200px;
    font-size: 25px;
    font-family: Montserrat, sans-serif;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

h2{
    font-family: Montserrat, sans-serif;
    color: navy;
    font-size: 50px;
}


.col-sm-4{
    height: 254px;
    width: 33.3%;
}
#c1{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3975.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;



}
#c2{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6475.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;


}
#deltatau{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3202.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;



}
#c4{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6589.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;


}
#c5{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2016.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;



}
#c6{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2386.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;

}
#c7{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2489785.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;

}
#c8{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3064559.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;

}
#c9{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2393.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;

}
#c10{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3155535.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;

}
#c11{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2594818.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;

}
#c12{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3137730.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;

}
#c13{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3452.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;

}
#c14{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2177.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;

}
#c15{
    background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2419.png&w=350&h=254");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;

}
