<!DOCTYPE html>
<html lang="en">
<head>
  <title>CMPE138 Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>

    h1{
      font-family: serif;
      font-weight: bold;

    }

    body{
      background-color: lightyellow;
    }

    #topdog{
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9e/Golden_Gate_Bridge_Wikivoyage_banner.jpg");
      background-position:  0% 7.5%;

    }


    .col-sm-4{
      height: 254px;
      width: 33.3%;
    }
    #c1{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3975.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;



    }
    #c2{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6475.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;


    }
    #deltatau{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3202.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;



    }
    #c4{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6589.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 50px;


    }
    #c5{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2016.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 50px;



    }
    #c6{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2386.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 50px;

    }
    #c7{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2489785.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 50px;

    }
    #c8{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3064559.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 50px;

    }
    #c9{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2393.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 50px;

    }
    #c10{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3155535.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 50px;

    }
    #c11{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2594818.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 50px;

    }
    #c12{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3137730.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 50px;

    }
    #c13{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3452.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 50px;

    }
    #c14{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2177.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 50px;

    }
    #c15{
      background-image: url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2419.png&w=350&h=254");
      background-position: center center;
      background-repeat: no-repeat;
      margin-top: 50px;

    }

    h2{
      text-align: center;
      font-family: serif;
      font-size: 50px;
      color: steelblue;
<<<<<<< HEAD
      margin-top: 135px;
=======
      margin-top: 75px;
>>>>>>> Previn
    }
    h3{
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;

    }

    #navi{
      margin-top: -30px;
      position: absolute;
      left: 34.5%;
      opacity: .5;

    }

    #logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      margin-top: 110px;
    }

    li{
      font-family: times;
    }
<<<<<<< HEAD
    
=======

>>>>>>> Previn

    </style>


</head>
<body data-spy="scroll" data-target=".nav">
<<<<<<< HEAD

<div id= "home">
  <div class="jumbotron text-center" id= "topdog">
    	<h1 style= "color: lightyellow; font-size: 75px">Golden State Warriors</h1>

=======

<div id= "home">
  <div class="jumbotron text-center" id= "topdog">
    	<h1 style= "color: lightyellow; font-size: 75px">Golden State Warriors</h1>

>>>>>>> Previn
  </div>
  <ul class="nav nav-tabs" id= "navi">
      <li class="active"><a href="#home">Home</a></li>
      <li><a href="#players">Players</a></li>
      <li><a href="#">Coaches</a></li>
      <li><a href="#">Games</a></li>
      <li><a href="#">Biography</a></li>
  </ul>


    <div>
    <img src="http://www.mercadofichas.com/media/teams/thumbnails/logo_golden_state_warriors_6120_573ccd98e6cfc.png" style="width:300; height:329;" id= "logo">
    </div>
</div>

<<<<<<< HEAD
  
<div id= "players" class="container-fluid">
  
  <div class= "page-header" style= "margin-bottom: 50px">
    <h2>Players</h2>
  </div>
	
=======

<div id= "players" class="container-fluid">

  <div class= "page-header" style= "margin-bottom: 50px">
    <h2>Players</h2>
  </div>

>>>>>>> Previn
  <div class="row">
    	<div class="col-sm-4" id= "c1">
   			<h3><!--Stephen Curry--></h3>
  		</div>
    	<div class="col-sm-4" id= "c2">
     		<h3><!--Klay Thompson--></h3>
    	</div>
    	<div class="col-sm-4" id= "deltatau">
     		<h3><!--Kevin Durant--></h3>

    	</div>
	</div>

  <div class="row">
      <div class="col-sm-4" id= "c4">
        <h3><!--Draymond Green--></h3>
      </div>
      <div class="col-sm-4" id= "c5">
        <h3><!--Zaza--></h3>
      </div>
      <div class="col-sm-4" id= "c6">
        <h3><!--Iggy--></h3>

      </div>
  </div>

    <div class="row">
      <div class="col-sm-4" id= "c7">
        <h3><!--Ian Clark--></h3>
      </div>
      <div class="col-sm-4" id= "c8">
        <h3><!--Damian Jones--></h3>
      </div>
      <div class="col-sm-4" id= "c9">
        <h3><!--Shaun Livingston--></h3>

      </div>
  </div>

    <div class="row">
      <div class="col-sm-4" id= "c10">
        <h3><!--Kevon Looney--></h3>
      </div>
      <div class="col-sm-4" id= "c11">
        <h3><!--McAdoo--></h3>
      </div>
      <div class="col-sm-4" id= "c12">
        <h3><!--Patrick McCaw--></h3>

      </div>
  </div>

    <div class="row">
      <div class="col-sm-4" id= "c13">
        <h3><!--JaVale McGee--></h3>
      </div>
      <div class="col-sm-4" id= "c14">
        <h3><!--Anderson Varejao--></h3>
      </div>
      <div class="col-sm-4" id= "c15">
        <h3><!--David West--></h3>

      </div>
  </div>

</div>

</body>
</html>

