<h1> Administrative Access Only</h1>
<p>Please advise on your changes</p>

<a href="../../stats/" class="btn btn-info" role="button">Stats</a>
<a href="../../players/" class="btn btn-info" role="button">Players</a>
<a href="../../games/" class="btn btn-info" role="button">Games</a>
